#login-container {
  margin-top: 50px;
  width: 40%;
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: #e0ebfc;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#title {
  color: #fcfcfc;
  margin-left: 20px;
  float: left;
  letter-spacing: 7px;
  font-weight: bold;
}

#welcome {
  color: Blue;
  margin-left: auto;
  margin-right: auto;
}

/*#session {
  padding-top: 85px;
}*/

.invite-button {
  float: right;
  margin-right: 50px;
  margin-top: 25px;
  background-color: #fcfcfc;
}

.menu-bar {
  width: 100%;
  height: 75px;
  background-color: #f7dd36;
  border-bottom: Grey;
  border-width: 2px;
  border-right-color: pink;
}

.menu-button {
  margin-top: 25px;
  float: left;
  margin-left: 50px;
  cursor: pointer;
}

.session-container {
  padding-top: 85px;
  background-color: #f9f9f7;
  /*border-top: 2px;
  border-color: Grey;*/
}

.ReactModal__Content--after-open--menu {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: auto;
  width: 33%;
  height: auto;
  background-color: White;
  border-radius: 5px;
  border-color: Grey;
}

.menu-exit-btn {
  margin-top: 40px;
  margin-left: 40px;
}

.user-picture-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-picture {
  margin-top: 30px;
  margin-left: 50%;
  margin-right: 50%;
  padding-bottom: 30px;
}

.user-name {
  text-align: center;
}

.menu-modal-content {
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-right: 40px;
  padding-bottom: 100px;
}

.ReactModal__Content--after-open--new-comment {
  margin: auto;
  width: 33%;
  height: 50%;
  background-color: White;

}

.menu-btn-new-session {
  float: left;
  margin-top: 30px;
}

.menu-btn-logout {
  float: right;
  margin-top: 30px;
}

.ReactModal__Content--after-open--new-session {
  margin: auto;
  width: 33%;
  height: 33%;
  background-color: White;
  opacity: 100%;
}
