#login-container {
  margin-top: 50px;
  width: 40%;
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: #e0ebfc;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#title {
  color: Blue;
  margin-left: 20px;
  float: left;
}

#welcome {
  color: Blue;
  margin-left: auto;
  margin-right: auto;
}

.invite-button {
  float: right;
  margin-right: 50px;
  margin-top: 25px;
}

.menu-bar {
  width: 100%;
  border-bottom: Grey;
  border-width: 2px;
}

.menu-button {
  margin-top: 25px;
  float: left;
  margin-left: 50px;
  cursor: pointer;
}

.session {
  border-top: 2px;
  border-color: Grey;
}

.ReactModal__Content--after-open--menu {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: auto;
  width: 33%;
  height: auto;
  background-color: White;
  border-radius: 5px;
  border-color: Grey;
}

.exit-btn {
  margin-top: 40px;
  margin-left: 40px;
}

.user-picture-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-picture {
  margin-top: 30px;
  margin-left: 50%;
  margin-right: 50%;
  padding-bottom: 30px;
}

.user-name {
  text-align: center;
}

.menu-modal-content {
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-right: 40px;
  padding-bottom: 100px;
}

.ReactModal__Content--after-open--new-comment {
  margin: auto;
  width: 33%;
  height: 50%;
  background-color: White;

}

.menu-btn-new-session {
  float: left;
  margin-top: 30px;
}

.menu-btn-logout {
  float: right;
  margin-top: 30px;
}

.ReactModal__Content--after-open--new-session {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 33%;
  background-color: White;
  margin-top: 200px;
}

.new-session-modal-content {
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.form-horizontal {
  margin-left: 0px;
  margin-right: 0px;
}
